<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/otppage.css">
    
</head>
<body>
    <section>
        <div class="container">
          <h1 class="title">Enter OTP</h1>
          <form id="otp-form" >
            <input type="text" class="otp-input" maxlength="6">
            <!-- <input type="text" class="otp-input" maxlength="1">
            <input type="text" class="otp-input" maxlength="1">
            <input type="text" class="otp-input" maxlength="1">
            <input type="text" class="otp-input" maxlength="1">
            <input type="text" class="otp-input" maxlength="1"> -->
          </form>
          <button id="verify-btn">Verify OTP</button>
        </div>
      </section>
</body>
</html>