<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        <label>Enter Username</label>
        <input type="email" name="email"></br>
        <label>Enter Password</label>
        <input type="password" name="password"></br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>