<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Uploaded Files</h1>
    <%result.forEach((file)=>{ %>
        <a href="/files/<%= file.id%>" target="_blank"><%=file.filename%></br></a>
   <% }) %>
</body>
</html>